<div class="content" *ngIf="data">
    <mat-progress-spinner *ngIf="showSpinder" mode="indeterminate" class="spinner"></mat-progress-spinner>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Total User</p>
                        <h3 class="title">{{data.countUser}}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">person</i>
                            <a href="#pablo">Total user</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">person</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Total Applicant</p>
                        <h3 class="title">{{ data.countApplicant }}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">person</i>
                            <a href="#pablo">Applicant</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">library_books</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Post</p>
                        <h3 class="title">{{ data.countPost }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Total Post
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">library_books</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Your Post</p>
                        <h3 class="title">{{ data.yourPost }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Your Post
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <canvas id="canvas"></canvas>
                <h4 class="title-chart">Biểu đồ: The number user and post werre posted per month.</h4>
            </div>
        </div>
    </div>
</div>