.user-table mat-header-cell{
    font-size: 15px;
    font-weight: bold;
    color: darkorchid;
}
.user-table .action-table {
    flex: 0 0 150px !important;
    text-align: center;
}
.user-table .action-table button {
    margin: 2%;
}
.avatar{
    width: 50%;
    margin: 5%;
}
.btn-export {
    float: right;
}
.search{
    width: 50% !important;
}

