<div class="job-modal-add">
    <h2 mat-dialog-title>Create Post</h2>
    <button mat-raised-button mat-dialog-close class="btn-close">Back</button>
    <button mat-raised-button color="primary" type="submit" (click)="save()" class="primary btn-save" [disabled]="formJob.invalid">Save</button>
    <mat-progress-spinner *ngIf="showSpinder" mode="indeterminate" class="spinner"></mat-progress-spinner>
    <mat-dialog-content>
        <form [formGroup]="formJob" (ngSubmit)="save()" novalidate>

            <mat-form-field class="full-width">
                <input formControlName="company" type="text" name="company" matInput placeholder="Company name" value="">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input formControlName="title" type="text" name="title" matInput placeholder="title" value="">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input formControlName="website"  name="website" type="url" matInput placeholder="website" value="">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input formControlName="city" name="city" type="text" (keyup)="searchCity()" placeholder="Choose city" aria-label="Number"
                    matInput [matAutocomplete]="city">
                <mat-autocomplete #city="matAutocomplete">
                    <mat-option *ngFor="let city of cities" [value]="city.name" (click)="changeCity(city)">
                        {{ city.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input formControlName="district" name="district" (keyup)="searchDistrict()" type="text" placeholder="Choose district" aria-label="Number"
                    matInput [matAutocomplete]="district">
                <mat-autocomplete #district="matAutocomplete">
                    <mat-option *ngFor="let district of districts" [value]="district.name" (click)="changeDistrict(district)">
                        {{ district.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input formControlName="street" name="street" type="text" placeholder="Choose street" aria-label="Number" matInput [matAutocomplete]="street">
                <mat-autocomplete #street="matAutocomplete">
                    <mat-option *ngFor="let street of streets" [value]="street.name">
                        {{ street.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input formControlName="dateFrom" name="dateFrom" matInput [matDatepicker]="dateFrom" placeholder="Choose a date from">
                <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                <mat-datepicker #dateFrom></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input formControlName="dateTo" name="dateTo" matInput [matDatepicker]="dateTo" placeholder="Choose a date to">
                <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                <mat-datepicker #dateTo></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-select formControlName="type" name="type" placeholder="Type job">
                    <mat-option *ngFor="let type of types" [value]="type">
                        {{ type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <tag-input matInput formControlName="function" name="function" [onlyFromAutocomplete]="true" class="full-width">
                <tag-input-dropdown [showDropdownIfEmpty]="true" [appendToBody]="false" [autocompleteItems]="functions">
                </tag-input-dropdown>
            </tag-input>

            <editor formControlName="description" name="description" apiKey="9qzoti4dpujs3v63q3kolxvv8tp8zuq7gzhnkxfqo6m1ywl2" [init]="{plugins: 'link'}"></editor>

        </form>
    </mat-dialog-content>
</div>
