<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a routerLink="/admin" class="simple-text">
            Find Work For You
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="active">
                <a routerLink="/admin" routerLinkActive="active">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a routerLink="/user">
                    <i class="material-icons">person</i>
                    <p>User Profile</p>
                </a>
            </li>
            <li>
                <a routerLink="/applicant">
                    <i class="material-icons">person</i>
                    <p>Applicant</p>
                </a>
            </li>
            <li>
                <a routerLink="/recruiter">
                    <i class="material-icons">person</i>
                    <p>Recruiter</p>
                </a>
            </li>
            <li>
                <a routerLink="/job-recruiter">
                    <i class="material-icons">library_books</i>
                    <p>Job Recruiter</p>
                </a>
            </li>
            <li>
                <a routerLink="/job-applicant">
                    <i class="material-icons">bubble_chart</i>
                    <p>Job Applicant</p>
                </a>
            </li>
            <li>
                <a routerLink="/contact">
                    <i class="material-icons">email</i>
                    <p>Contact</p>
                </a>
            </li>
            <li>
                <a routerLink="/notifications">
                    <i class="material-icons text-gray">notifications</i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="#">
                    <i class="material-icons">unarchive</i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>