<div class="row" *ngIf="user">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header" data-background-color="purple">
                <h4 class="title">Edit Profile</h4>
                <p class="category">Complete your profile</p>
            </div>
            <mat-progress-spinner *ngIf="showSpinner" mode="indeterminate" class="spinner"></mat-progress-spinner>
            <div class="card-content">
                <form [formGroup]="formUser" (ngSubmit)="update(formUser)">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group label-floating is-empty">
                                <label>Full Name</label>
                                <input formControlName="name" name="name" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group label-floating is-empty">
                                <label>Username</label>
                                <input formControlName="userName" name="userName" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating is-empty">
                                <label>Email address</label>
                                <input formControlName="email" name="email" type="email" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label>School</label>
                                <input formControlName="school" name="school" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group label-floating is-empty">
                                <label>Specialized</label>
                                <input formControlName="specialized" name="specialized" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group label-floating is-empty">
                                <label>Phone</label>
                                <input formControlName="phone" name="phone" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating is-empty">
                                <label>Age</label>
                                <input formControlName="age" name="age" type="text" class="form-control">
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating is-empty label-gender">
                                <label>Gender</label>
                                <br/>
                                <mat-checkbox class="checkbox-gender" formControlName="gender" name="gender"> Male</mat-checkbox>
                                <span class="material-input"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group label-floating is-empty">
                                <mat-form-field class="full-width">
                                    <input formControlName="city" name="city" type="text" (keyup)="searchCity()" placeholder="Choose city" aria-label="Number"
                                        matInput [matAutocomplete]="city">
                                    <mat-autocomplete #city="matAutocomplete">
                                        <mat-option *ngFor="let city of cities" [value]="city.name" (click)="changeCity(city)">
                                            {{ city.name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating is-empty">
                                <mat-form-field class="full-width">
                                    <input formControlName="district" name="district" (keyup)="searchDistrict()" type="text" placeholder="Choose district" aria-label="Number"
                                        matInput [matAutocomplete]="district">
                                    <mat-autocomplete #district="matAutocomplete">
                                        <mat-option *ngFor="let district of districts" [value]="district.name" (click)="changeDistrict(district)">
                                            {{ district.name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group label-floating is-empty">
                                <mat-form-field class="full-width">
                                    <input formControlName="street" name="street" (keyup)="searchStreet()" type="text" placeholder="Choose street" aria-label="Number"
                                        matInput [matAutocomplete]="street">
                                    <mat-autocomplete #street="matAutocomplete">
                                        <mat-option *ngFor="let street of streets" [value]="street.name">
                                            {{ street.name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <div class="form-group label-floating is-empty">
                                    <textarea class="form-control" formControlName="description" name="description" rows="5"></textarea>
                                    <span class="material-input"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#">
                    <img *ngIf="!user.avatar_url" class="img" src="../assets/img/faces/marc.jpg">
                    <img *ngIf="user.avatar_url" class="img" [src]="user.avatar_url">
                </a>
            </div>
            <button mat-raised-button color="primary" class="btn-update-avatar" (click)="fileInput.click()">Update avatar</button>
            <input #fileInput type="file" (change)="chooseFiles($event)" style="display:none;" />
            <div class="content">
                <h6 class="category text-gray">CEO / Co-Founder</h6>
                <h4 class="card-title">Alec Thompson</h4>
                <p class="card-content">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                    I love Rick Owens’ bed design but the back is...
                </p>
                <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
            </div>
        </div>
    </div>
</div>