<mat-progress-spinner *ngIf="showSpinner" mode="indeterminate" class="spinner"></mat-progress-spinner>
<div class="delete-post">
    <h2 mat-dialog-title>{{ this.dataDelete.title }}</h2>
    <mat-dialog-content>{{ this.dataDelete.content }}</mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close class="mat-raised-button mat-default btn-close">Cancel</button>
        <button mat-button class="mat-raised-button mat-warn btn-delete" (click)="delete()">Delete</button>
    </mat-dialog-actions>
</div>